/* VARIABLES */
@screen-max-xs : 768px;

body {
	padding-top: 50px;
}

nav {
	background: #B09B8A;

	.border {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	} 
	
	.nav-cursor {
		cursor: pointer;
	}
}