.modal-title {
	font-size: 22px;
	text-align: center;
}

.modal-body {
	text-align: center;
	.text {
		font-size: 18px;
	}
	input {
		display: block;
		margin: 20px auto;
		height: 50px;
		padding-left: 15px;
		width: 70%;
	}
	.submit-newsletter {
		background: #43b3e0;
		border: none;
		border-radius: 10px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		padding: 15px 40px;
		text-align: center;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
