h1 {
	font-family: "Open Sans",sans-serif;
}

.articles {
	margin-top: 50px;
	margin-bottom: 25px;
	
	.article {
		border-bottom: 1px solid #ddd;
		padding: 25px;
	
		.bloc-img {
			text-align: center;
		
			.link-img {
				width: 110px;
			}
		}
		
		.title-article {
			margin: 0;
			margin-bottom: 15px;
		}
		
		.description {
			font-size: 16px;
		}
	}
}